body{
  margin: 30px;
  background-color: whitesmoke;
  }

h1 {
  background-color: #ff9900; 
  color: white;
  text-align: center;
  }

nav {
  word-spacing: 10px;
  text-decoration:;
  text-align: center;
  color: grey;
  }


